<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="tabs">
      <ul>
        <button class="software-tab">
          <a href="/portfolio/software">Software</a>
        </button>
        <button class="analytics-tab">
          <a href="/portfolio/analytics">Analytics</a>
        </button>
        <button class="publications-tab">
          <a href="/portfolio/publications">Publications</a>
        </button>
      </ul>
    </div>
    <div class="content">
      <% if(portfolioEntries.length>0) { %> <% portfolioEntries.forEach(item =>
      { %>
      <h3 class="title"><%= item.title %></h3>
      <!-- <p class="id"><%= item.id %></p> -->
      <p class="description"><%= item.description %></p>
      <p class="type"><%= item.type %></p>
      <p class="URL"><%= item.URL %></p>
      <p>
        <a href="/portfolio/view/<%= item.id %>">View</a>
        <a href="/portfolio/edit/<%= item.id %>">Update</a>
        <a href="/portfolio/delete/<%= item.id %>">Delete</a>
      </p>
      <% }) %> <% } else { %>
      <p>There are no items to display..</p>
      <% } %>
    </div>
    <div>
      <br />
      <button><a href="/portfolio/create">Add to Portfolio</a></button>
      <br />
    </div>
  </body>
  <br />
  <%- include('./partials/footer.ejs')%>
</html>
