<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <hr />
    <div class="tabs">
      <ul>
        <button class="software-tab">Software</button>
        <button class="analytics-tab">Analytics</button>
        <button class="publications-tab">Publications</button>
      </ul>
    </div>
    <div class="content">
      <% if(portfolioEntries.length>0) { %> <% portfolioEntries.forEach(item =>
      { %>
      <h3 class="title"><%= item.title %></h3>
      <p class="description"><%= item.description %></p>
      <% }) %> <% } else { %>
      <p>There are no items to display..</p>
      <% } %>
    </div>
  </body>
  <%- include('./partials/footer.ejs')%>
</html>
