<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <hr />
    <h1>Edit Entry</h1>
    <form
      action="/portfolio/edit/<%= item.id %>"
      method="post"
      autocomplete="off"
    >
      <label for="POST-name" value="Title">Title:</label>
      <input
        type="text"
        id="POST-name"
        name="title"
        value="<%= item.title %>"
        required
      /><br />
      <label for="POST-type">Type</label>
      <input
        type="text"
        id="POST-type"
        name="type"
        value="<%= item.type %>"
      /><br />
      <label for="POST-description">Description:</label>
      <textarea type="text" id="POST-Description" name="description">
<%= item.description %></textarea
      ><br />
      <label for="POST-link">URL:</label>
      <input
        type="text"
        id="POST-link"
        name="url"
        value="<%= item.url %>"
      /><br />
      <button type="submit">Update</button>
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
